:root {
  --title-font: "Space Mono", monospace;
  --body-font: "Space Grotesk", sans-serif;
  --highlight-color: #ff9500;
  --highlight-alt-color: #ec6302;
  --primary-color: #0f0c0a;
  --secondary-color: #33251c;
  --tertiary-color: #f4ede8;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: var(--tertiary-color);
}

p,
.subtitle,
.forecast-day,
.music-greeting {
  color: var(--tertiary-color);
}

h1,
h2,
h3,
.current-temperature,
.forecast-high,
.clickthru-links:hover,
#current-location:hover {
  color: var(--highlight-color);
}

.current-condition,
.data-highlight,
.forecast-low,
.coded-by,
.clickthru-links,
#current-location {
  color: var(--highlight-alt-color);
}

header,
h1,
h2,
h3 {
  font-family: var(--title-font);
}

p {
  font-family: var(--body-font);
}

header {
  text-align: center;
  margin-top: 5px;
}

h1 {
  font-size: 50px;
  font-weight: 800;
}

form {
  display: block;
  margin: 0 auto;
}

section {
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 800;
}

.container {
  max-width: 1000px;
  background-color: var(--primary-color);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.weather-today .subtitle {
  font-size: 22px;
  font-weight: normal;
}

.divider {
  border-top: 1.5px solid var(--secondary-color);
}

.weather-today,
.weather-forecast,
.spotify-api {
  background-color: #0f0c0a;
  border: 1.5px solid var(--secondary-color);
  border-radius: 5px;
}

.weather-today {
  width: 600px;
}

.weather-today img {
  height: 200px;
  width: 200px;
}

.weather-today .current-date {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

.weather-today .current-condition {
  font-size: 26px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.25;
}

.weather-today .current-temperature,
.weather-today .temperature-convert {
  font-weight: 700;
}

.weather-today .current-temperature {
  font-size: 125px;
}

.weather-today .temperature-convert {
  padding-top: 50px;
  font-size: 10px;
}

.weather-today .temperature-range,
.weather-today .weather-others {
  font-size: 16px;
}

.weather-today .temperature-range {
  margin-top: 20px;
}

.weather-today .data-highlight {
  font-size: 24px;
  font-weight: bold;
}

.weather-forecast {
  padding-top: 24px;
  padding-bottom: 10px;
}

.weather-forecast .forecast-day,
.weather-forecast .forecast-high,
.weather-forecast .forecast-low {
  font-size: 20px;
}

.weather-forecast .forecast-day {
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.weather-forecast .forecast-high,
.weather-forecast .forecast-low {
  font-weight: bold;
  text-align: center;
}

.weather-forecast,
.spotify-api {
  width: 290px;
}

.spotify-api .music-greeting {
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.spotify-api .spotify-player {
  margin-top: 30px;
}

.coded-by {
  font-size: 14px;
  font-weight: lighter;
}

.coded-by .clickthru-links {
  font-weight: bold;
  text-decoration: none;
}

#find-city-form {
  width: 800px;
}

#find-city-form .btn {
  color: var(--highlight-color) !important;
  background-color: var(--primary-color) !important;
  border-color: var(--highlight-color) !important;
}

#find-city-form .btn:hover {
  color: var(--primary-color) !important;
  background-color: var(--highlight-color) !important;
}

#weather-icon {
  padding-bottom: 15px;
}

#current-temp {
  font-family: var(--title-font);
}

#metric-button,
#imperial-button {
  width: 50px;
}

#metric-button {
  color: var(--highlight-color) !important;
  background-color: var(--primary-color) !important;
  border-color: var(--highlight-color) !important;
}

#metric-button:hover {
  color: var(--primary-color) !important;
  background-color: var(--highlight-color) !important;
}

#imperial-button {
  color: var(--highlight-alt-color) !important;
  background-color: var(--primary-color) !important;
  border-color: var(--highlight-alt-color) !important;
}

#imperial-button:hover {
  color: var(--primary-color) !important;
  background-color: var(--highlight-alt-color) !important;
}
